<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.exam.dao.BlankMapper">
    <resultMap id="BlankResultMap" type="com.example.exam.Entity.BlankQuestions">
        <id column="que_id" property="que_id" jdbcType="INTEGER"/>
        <result column = "que_head" property = "que_head" />
        <result column = "que_ans" property = "que_ans"/>
    </resultMap>

    <sql id="Blank_Column_List">
        que_id,que_head,que_ans
    </sql>



    <select id="getBlankList" resultMap="BlankResultMap">
        SELECT
        <include refid="Blank_Column_List"/>
        FROM BlankQuestions
    </select>

    <insert id="add" parameterType="com.example.exam.Entity.User">
        INSERT INTO
        UserInfo
        (user_id,user_name,user_password,user_grade,user_class)
        VALUES
        (#{id},#{username},#{password},#{grade},#{userClass})
    </insert>

    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM
        UserInfo
        WHERE
        user_id=#{id}
    </delete>

    <update id="update" parameterType="com.example.exam.Entity.User">
        UPDATE
        UserInfo
        SET
        user_name=#{username},
        user_password=#{password},
        user_grade=#{grade},
        user_class=#{userClass}
        WHERE
        user_id = #{id}
    </update>
</mapper>