<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.exam.dao.PaperMapper">
    <resultMap id="BaseResultMap" type="com.example.exam.Entity.Paper">
        <id column="paper_id" property="paper_id" jdbcType="INTEGER"/>
        <result column = "que_id" property = "que_id" />
        <result column = "paper_group" property = "group" />
    </resultMap>

    <resultMap id="QueResultMap" type="com.example.exam.Entity.Questions">
        <id column="que_id" property="que_id" jdbcType="INTEGER"/>
        <result column = "que_head" property = "que_head" />
        <result column = "que_ans" property = "que_ans"/>
        <result column = "que_type" property = "que_type"/>
        <result column="que_opt_a" property="que_opt_a"/>
        <result column = "que_opt_b" property = "que_opt_b" />
        <result column = "que_opt_c" property = "que_opt_c" />
        <result column = "que_opt_d" property = "que_opt_d" />
        <result column = "que_opt_e" property = "que_opt_e" />
    </resultMap>

    <sql id="Base_Column_List">
        paper_id,que_id,paper_group
    </sql>

    <sql id="Que_Column_List">
        que_id,que_head,que_ans,que_opt_a,que_opt_b,que_opt_c,que_opt_d,que_opt_e
    </sql>


    <select id="getQueInPaper" resultMap="QueResultMap">
        SELECT
        Questions.que_id,
        Questions.que_head,
        Questions.que_ans,
        Questions.que_type,
        Questions.que_opt_a,
        Questions.que_opt_b,
        Questions.que_opt_c,
        Questions.que_opt_d,
        Questions.que_opt_e
        FROM Paper,Questions
        WHERE
        Paper.que_id=Questions.que_id
        order by que_type desc
    </select>

    <select id="getPaperByQueId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM Paper
        WHERE que_id=#{id}
    </select>

    <select id="getPaperList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM Paper
        WHERE paper_group=#{group}
    </select>

    <insert id="add" parameterType="com.example.exam.Entity.Paper">
        INSERT INTO
        Paper
        (que_id,paper_group)
        VALUES
        (#{que_id},#{group})
    </insert>

    <delete id="deleteAll">
        DELETE FROM
        Paper
    </delete>


    <update id="update" parameterType="com.example.exam.Entity.Paper">
        UPDATE
        Paper
        SET
        que_id=#{que_id},
        paper_group=#{group}
        WHERE
        paper_id=#{paper_id}
    </update>

    <select id="findQueInPaper" resultType="java.lang.Integer">
        SELECT
        paper_id
        FROM
        Paper
        WHERE
        que_id=#{id}
    </select>
</mapper>