<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.exam.dao.QueMapper">
    <resultMap id="QueResultMap" type="com.example.exam.Entity.Questions">
        <id column="que_id" property="que_id" jdbcType="INTEGER"/>
        <result column = "que_head" property = "que_head" />
        <result column = "que_ans" property = "que_ans"/>
        <result column = "que_type" property = "que_type"/>
        <result column="que_opt_a" property="que_opt_a"/>
        <result column = "que_opt_b" property = "que_opt_b" />
        <result column = "que_opt_c" property = "que_opt_c" />
        <result column = "que_opt_d" property = "que_opt_d" />
        <result column = "que_opt_e" property = "que_opt_e" />
    </resultMap>

    <sql id="Opt_Column_List">
        que_id,que_head,que_ans,que_opt_a,que_opt_b,que_opt_c,que_opt_d,que_opt_e
    </sql>

    <sql id="Blank_Column_List">
        que_id,que_head,que_ans
    </sql>

    <select id="getOptById" parameterType="java.lang.Integer" resultMap="QueResultMap">
        SELECT
        <include refid="Opt_Column_List"/>
        FROM Questions
        WHERE que_id=#{id}
    </select>

    <select id="getBlankById" parameterType="java.lang.Integer" resultMap="QueResultMap">
        SELECT
        <include refid="Blank_Column_List"/>
        FROM Questions
        WHERE que_id=#{id}
    </select>

    <select id="getOptList" resultMap="QueResultMap">
        SELECT
        <include refid="Opt_Column_List"/>
        FROM Questions
        WHERE que_type='opt'
    </select>

    <select id="getBlankList" resultMap="QueResultMap">
        SELECT
        <include refid="Blank_Column_List"/>
        FROM Questions
        WHERE que_type='blank'
    </select>

    <insert id="addOpt" parameterType="com.example.exam.Entity.Questions">
        INSERT INTO
        Questions
        (que_id,que_head,que_ans,que_type,que_opt_a,que_opt_b,que_opt_c,que_opt_d,que_opt_e);
        VALUES
        (#{que_id},#{que_head},#{que_ans},'opt',#{que_opt_a},#{que_opt_b},#{que_opt_c},#{que_opt_d},#{que_opt_e})
    </insert>

    <insert id="addBlank" parameterType="com.example.exam.Entity.Questions">
        INSERT INTO
        Questions
        (que_id,que_head,que_ans,que_type);
        VALUES
        (#{que_id},#{que_head},#{que_ans},'blank')
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM
        Questions
        WHERE
        que_id=#{id}
    </delete>


    <update id="updateOpt" parameterType="com.example.exam.Entity.Questions">
        UPDATE
        Questions
        SET
        que_head=#{que_head},
        que_ans=#{que_ans},
        que_type='opt',
        que_opt_a=#{que_opt_a},
        que_opt_b=#{que_opt_b},
        que_opt_c=#{que_opt_c},
        que_opt_d=#{que_opt_d},
        que_opt_e=#{que_opt_e}
        WHERE
        que_id=#{que_id}
    </update>

    <update id="updateBlank" parameterType="com.example.exam.Entity.Questions">
        UPDATE
        Questions
        SET
        que_head=#{que_head},
        que_ans=#{que_ans},
        que_type=#{que_type}
        WHERE
        que_id=#{que_id}
    </update>


</mapper>